# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/

# Archives
*.xcarchive

# Secrets
.env
*.pem
*.p12
*.mobileprovision